@import url(http://fonts.googleapis.com/css?family=Fondamento:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Radley:400,400italic);

h1 {
  font-family: Fondamento;
  font-size: 200%;
  text-align: center;
}

h1 b {
  background: #80C060;
  padding: 0.3em 2em;
  border-radius: 0.5em / 50%;
}

h2 {
  font-family: Fondamento;
  font-size: 150%;
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0;
}

h3 {
  font-size: 120%;
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0;
}

body {
  font-size: 110%;
  font-family: Radley, serif;
  background: #406030;
}

#cardtable {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border: 5px solid #80C060;
  -o-border-image: url("/static/table_border.png") 5 repeat;
  border-image: url("/static/table_border.png") 5 repeat;
  padding: 1em;
  color: #ffd;
}

button {
  font-size: 200%;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.play {
  background: #80C060;
  border-color: #80C060;
}

#decks {
  width: 500px;
}

.deck {
  width: 120px;
  height: 180px;
  border-radius: 10px;
  border: 2px solid #ffd;
  display: inline-block;
  margin-right: 10px;
  background-size: 100% 100%;
}

.deck img {
  width: 100%;
  border-radius: 8px;
}

.animal {
  background-image: url("/static/animal_back.svg");
}

.vegetable {
  background-image: url("/static/vegetable_back.svg");
}

.mineral {
  background-image: url("/static/mineral_back.svg");
}

.nemesis {
  background-image: url("/static/nemesis.svg");
}

.discard {
  margin-left: 20px;
  border-color: black;
  background-image: url("/static/discard.svg");
}

#achievements {
 width: 180px;
 float: right;
 margin-right: 10px;
}

#achievements li {
}

#crafting {
 width: 600px;
}

.crafting {
 opacity: 0.8;
}

.result {
 opacity: 0.6;
 border-color: #80C060;
 border-width: 3px;
}

.result:empty {
 border-color: brown;
}

#hand {
  display:block;
  overflow: visible;
  width: 570px;
  position: relative;
  border-radius: 10px;
  border: 2px solid #ffd;
  height: 190px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#hand li {
  list-style-type: none;
}

.card {
  position:relative;
  width: 120px;
  height: 180px;
  border-radius: 10px;
  margin-left: -80px;
  display: inline-block;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.3);
  z-index: 1;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:first-of-type {
  margin-left: -35px;
}

.card:hover {
  z-index: 3;
  top: -20px;
  border: 1px solid #80C060;
}

.hidden {
  opacity: 0.1;
}

.hidden:hover {
  opacity: 1.0;
}

.leftcol {
    float:left;
    width: 60%;
}

.rightcol {
    float: right;
    width: 40%;
}

#message {
  position: absolute;
  top: 280px;
  width: 360px;
  padding: 1em;
  border: 5px solid #80C060;
  -o-border-image: url("/static/table_border.png") 5 repeat;
  border-image: url("/static/table_border.png") 5 repeat;
  background: #304824;
  z-index: 5;
  visibility: hidden;
}

#message_card {
  border-color: black;
}

.invisible { display: none; }

.dismiss {
  font-size: 80%;
  margin: auto;
  margin-top: 1em;
  display: block;
}

.check { width: 100px; height: 150px; margin: 10px; border: 3px solid #80C060; }
.check.unavailable { border-color: orange; }
.check.nocounter { border-color: red; }
.check.nocounter.unavailable { border-color: blue; }
.check.useless {border-color: blue; }
.check.nemesis { border-color: black; }